*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #fff;
    --transition-delay: 0.2s;
    --transition-effect: ease;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

img,
svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}
